.img-container {
  height: 26.563rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  place-items: center;
  position: relative;
  background-attachment: fixed;
  text-align: center;
}
.img-container::before {
  content: "";
  top: 0;
  background-attachment: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../../src/img/rohit-tandon.webp");
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
}

.img-container_inside {
  width: 80%;
  margin: 0 auto;
  position: relative;
  font: bold 42px sans-serif;
  text-align: center;
  background-attachment: fixed;

  align-items: middle;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  align-content: center;
  justify-content: center;
}
.img-container_inside h1 {
  color: white;
}

.edge-rounded {
  height: 3.125rem;
  width: 100%;
  background: white;
  position: relative;
  border-radius: 1.25rem;
  top: -1.9rem;
  z-index: 9999;
}

.why-environnement {
  text-align: center;
}

.discover-hikes {
  text-align: center;
}

.btn-discover-hikes {
  padding: 1.063rem 4.1rem;
}

.Who-we-are {
  text-align: center;
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  height: 13.188rem;
  margin-top: 2.5rem;
}

.avatar {
  width: 6.25rem;
  height: 6.25rem;
  background: green;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.avatar:nth-of-type(1) {
  /*
  ⚠️
  format d'image mal choisis !
  dimension mal choisis !
  chemin à partir du serveur ne marche pas en local car la racine du serveur (hors virtual host) est le dossier www/ ou htdocs/
  */
  background: url("../../src/img/paul.webp") no-repeat;
  background-position: center;
  background-size: contain;
}
.avatar:nth-of-type(2) {
  background: url("../../src/img/remi.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.avatar:nth-of-type(3) {
  background: url("../../src/img/theo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-goal {
  text-align: center;
}

.container {
  width: 100%;
  margin-top: 4.688rem;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-items: center;
}

.carouselContainer {
  width: 100%;
  height: 17.875rem;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
}

.carouselImgs {
  width: 100%;
  height: 100%;
  animation: fade 1.5s;
  display: none;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.prev,
.next {
  position: absolute;
  top: 49%;
  cursor: pointer;
}

.prev {
  left: 10px;
  color: white;
}

.next {
  right: 10px;
  color: white;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slide1 {
  background: url("../../src/img/mountain-trail.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide2 {
  background: url("../../src/img/mountain2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide3 {
  background: url("../../src/img/mountain3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.what-is-terminal {
  text-align: center;
}

.your-account {
  text-align: center;
}

.your-account a {
  padding: 1.063rem 4.1rem;
}

.need-help {
  text-align: center;
}

.need-help a {
  padding: 1.063rem 4.1rem;
}
