/* Photo de page d'accueil */

.img-container {
  height: 26.563rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  place-items: center;
  position: relative;
  background-attachment: fixed;
  text-align: center;
}
.img-container::before {
  content: "";
  top: 0;
  background-attachment: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../../src/img/rohit-tandon.webp");
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
}

/* Texte de la page d'acceuil */

.img-container_inside {
  width: 80%;
  margin: 0 auto;
  position: relative;
  font: bold 42px sans-serif;
  text-align: center;
  background-attachment: fixed;

  align-items: middle;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  align-content: center;
  justify-content: center;
}
.img-container_inside h1 {
  color: white;
}

/* Bord en dessous de la photo d'acceuil */

.edge-rounded {
  height: 3.125rem;
  width: 100%;
  background: white;
  position: relative;
  border-radius: 1.25rem;
  top: -1.9rem;
  z-index: 9999;
}

/* Section "Pourquoi préserver l'environnement" */

.why-environnement {
  text-align: center;
}

.discover-hikes {
  text-align: center;
}

.btn-discover-hikes {
  padding: 1.063rem 4.1rem;
}

.Who-we-are {
  text-align: center;
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  height: 13.188rem;
  margin-top: 2.5rem;
}

.avatar {
  width: 6.25rem;
  height: 6.25rem;
  background: green;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.avatar:nth-of-type(1) {
  /*
  ⚠️
  format d'image mal choisis !
  dimension mal choisis !
  chemin à partir du serveur ne marche pas en local car la racine du serveur (hors virtual host) est le dossier www/ ou htdocs/
  */
  background: url("../../src/img/paul.webp") no-repeat;
  background-position: center;
  background-size: contain;
}
.avatar:nth-of-type(2) {
  background: url("../../src/img/remi.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.avatar:nth-of-type(3) {
  background: url("../../src/img/theo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-goal {
  text-align: center;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  background: black;
}

.mySwiper {
  margin-top: 1.25rem;
  border-radius: 1.25rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.what-is-terminal {
  text-align: center;
}

.your-account {
  text-align: center;
}

.your-account a {
  padding: 1.063rem 4.1rem;
}

.need-help {
  text-align: center;
}

.need-help a {
  padding: 1.063rem 4.1rem;
}
