.header {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 99999999999;
}

/* ⚠️ quand le menu est fermée il ne devrait pas être "par dessus" le  contenus. Donc soit tu le décale ver sle haut par exemple, soit tu le rends inactif au clic : pointer-events: none; */

.nav {
  background: #fff;
  display: flex;
  height: 4.688rem;
  justify-content: space-between;
  width: 82%;
  margin: 0 auto;
}

header {
  position: absolute;
  height: 100vh;
  pointer-events: none;
  width: 100vw;
}

nav {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
  background: white;
}

.logo-container {
  width: 15rem;
  margin: 4.25rem auto;
  text-align: center;
}

.nav-links {
  list-style-type: none;
  margin-top: 2rem;
}

.nav-link {
  margin-bottom: 2.5rem;
}

.nav-link a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link img {
  margin-right: 1rem;
  margin-left: 2.313rem;
}

.block-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-visible {
  visibility: visible;
  display: block;
}

.is-hidden {
  visibility: hidden;
  display: none;
}

#btn-burger {
  background: white;
  border: none;
}

@media screen and (min-width: 425px) {
}
