@import url("../../css/header.css");
@import url("../../css/accueil.css");
@import url("../../assets/css/mon-compte.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.125rem;
  margin-bottom: 2.5rem;
}

p {
  font-size: 1rem;
}

section {
  width: 80%;
  margin: 0 auto 6.25rem auto;
}

.btn {
  background-color: black;
  color: white;
  border-radius: 1.25rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 2.5rem;
  cursor: pointer;
}

.debug {
  box-shadow: 0 0 0 1px red;
}
